@use "variaveis";

.footer {
  padding: 26px 8px;
  background: rgba($color: #4b07c9, $alpha: 0.1);

  &__logos {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 16px;

    img {
      width: 60px;
    }
  }

  h2 {
    text-align: center;
  }
}
