@use "variaveis";

.hero {
  padding: 5.6vw;
  background: linear-gradient(202deg, rgba(212, 75, 61, 1) 0%, rgba(13, 3, 52, 1) 50%);

  &__container {
    display: flex;
    justify-content: space-around;

    img {
      width: 100%;
      max-width: 690px;
    }
  }

  &__content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    // text-align: center;
    &_branding {
      margin: 112px auto 38px;
      img {
        width: 100%;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .button {
    margin-top: 3vw;
    // width: 500px;
    padding: 6px 4em;
    border-radius: 16px;
    text-wrap: nowrap;

    // text-decoration: ;
  }
}
