$CorDeFundo: #0d0334;
$CorTextoPrincipal: #fff;
$CorTextoSecundario: #cfcfcf;
$CorDeFundoBotaoPrimario: #f82727;
// $CorDeFundoBotaoSecundario: rgb(29, 37, 80);
// $CorDeFundoBotaoSecundario: rgb(243, 53, 6);
$CorDeFundoBotaoSecundario: rgb(243, 53, 6);

$CorDeFundoBotaoTransparente: transparent;
