@use "header";
@use "variaveis";
@use "hero";
@use "description";
@use "characters";
@use "watch";
@use "footer";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variaveis.$CorTextoSecundario;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: variaveis.$CorTextoPrincipal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  list-style: none;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: variaveis.$CorTextoPrincipal;
  background-color: variaveis.$CorDeFundoBotaoPrimario;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 14px;
  letter-spacing: 1px;
  border: 1px solid variaveis.$CorDeFundo;
  &:hover {
    background-color: lighten(variaveis.$CorDeFundoBotaoPrimario, 2%);
  }

  &--transparente {
    background-color: variaveis.$CorDeFundoBotaoTransparente;
    border: 1px solid variaveis.$CorDeFundoBotaoPrimario;
  }
}

body {
  background-color: variaveis.$CorDeFundo;
  color: white;
}

.text {
  @include text;

  &--small {
    @include text(12px);
  }

  &--big {
    @include text(18px);
  }
}

.title {
  @include title;

  &--big {
    @include title(44px);
  }

  &--small {
    @include title(28px);
  }
}
